apdev-examples_incomplete/src/main/mule/accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="b1c56b53-6ec3-41af-9357-955cf5b9c516" >
		<file:connection workingDir="${file.accountsDir}" />
	</file:config>
	<flow name="getCSVaccounts" doc:id="921c0c48-6926-4717-9f7d-acca8d1e7629" >
		<file:listener doc:name="accounts.csv" doc:id="19454d85-96d7-4660-82f2-2628990c3584" config-ref="File_Config" directory="input" moveToDirectory="output">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<logger level="INFO" doc:name="payload " doc:id="654cf9f8-8b77-4549-a347-38017612b5e3" message="#[payload]"/>
	</flow>
	<flow name="getSFDCaccounts" doc:id="b08b4aef-a28f-4edf-96ba-1e35b6646a19" >
		<http:listener doc:name="GET /sfdc" doc:id="38d10573-4cd4-4a44-8b6a-17bb7096244d" config-ref="HTTP_Listener_config" path="/sfdc" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="600e7902-955d-49a0-bb5b-731d8ff7e280" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
